.admin-homepage
  .skill-circle
  .about
    h1.about-greet-part.intro-text.from-left
      span HELLO
    p.about-part.intro-text
      span.about-first-part.intro-right.from-right I'M ANKIT
      br 
      span.about-second-part.intro-text.from-right I'M A CREATIVE WEB DEVELOPER
      br 
      span.about-third-part.intro-text.from-left I STAND ON A SWEET SPOT WHERE
      span.about-fourth-part.intro-text.from-right
        strong DESIGN 
        &amp; 
        strong CODE
      span.about-fifth-part.intro-text.from-left INTERSECTS.
  .skills.hidden
    .skill-header MY KNOWLEDGE LEVEL IN TECHNOLOGY
    .skill-details
      .javascript
        .skill-name JAVASCRIPT
        .skill-rating
      .jquery
        .skill-name JQUERY
        .skill-rating
      .redux
        .skill-name REDUX
        .skill-rating
      .react
        .skill-name REACT
        .skill-rating
      .templates
        .skill-name HTML, JADE & DUST
        .skill-rating
      .styling
        .skill-name CSS & LESS
        .skill-rating
  .contact.hidden
  .admin-footer
    .go-down