script(data-main="js/config" src="js/require.js")
link(rel='stylesheet', href='less/combined-style.css')
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
div.overlay
div(data-main-container, class="main-container")
	div(data-header-container, class="header-container")
		include ./header.jade
	div.error
	div(data-content-container, class="content-container")
	div(data-footer-container, class="footer-container")
		.down-icon

