@import "./color.less";

.main-container {
    .header-container {
        color: @nice-blue
    }
    .main-container {
        color: @light-blue
    }
    .footer-container {
        color: @nice-blue
    }
}